# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# IDE specific
.vscode/
.idea/
*.iml
*.ipr
*.iws

# OS specific
.DS_Store
Thumbs.db

# Local storage
*.sqlite
*.db